//variables
$brand-main: #6600CC;
$brand-sub: #CC66FF;
$brand-dark: #333;
$brand-light: #e6f2ff;


//mixins

// =shaping1:($height $width, $rad, $bg, $color)

// height:                $height
// width:                 $width
// -webkit-border-radius: $rad
// -moz-border-radius:    $rad
// -ms-border-radius:     $rad
// border-radius:         $rad
// background-color:      $bg
// color:                 $color

@mixin shaping($height, $width, $rad, $bg, $color) {
    height:                $height;
    width:                 $width;
    -webkit-border-radius: $rad;
    -moz-border-radius:    $rad;
    -ms-border-radius:     $rad;
    border-radius:         $rad;
    background-color:      $bg;
    color:                 $color;
}

@mixin btn-main($padding, $rad, $bg, $color) {
    padding:          $padding;
    border-radius:    $rad;
    background-color: $bg;
    color:            $color;
    border-width:     0;
    border-style:     none;
    cursor:           pointer;
    display:          block;
    margin:           auto;
    &:hover{
        background-color: lighten($brand-main, $amount: 20%);
    }
}


//styles
body{
    background-color: $brand-light;
}
h2{
    text-align: center;
    padding-top: 20px;
}
section{
    background: $brand-sub;
    color: $brand-dark;
    width: 780px;
    margin: auto;
    padding: 20px;
    border-radius: 7px;
    position: relative;
    z-index: -2;
}
.thumb1{
    @include shaping(120px,120px, 10%, $brand-dark, $brand-light);
    margin:0 261px -90px;
}
.thumb2{
    @include shaping(100px, 100px, 50%, $brand-sub, $brand-sub);
    margin: -50px 1310px;
}
.btn-1{
    @include btn-main(1px 20px, 7px, $brand-main, white)
}
.btn-2{
    @include btn-main(30px, 50%, $brand-dark, white);
    font-size: 2rem;
    &:hover{
        background-color: darken($brand-main, $amount: 10%);
    }
}