body {
  background-color: #e6f2ff;
}

h2 {
  text-align: center;
  padding-top: 20px;
}

section {
  background: #CC66FF;
  color: #333;
  width: 780px;
  margin: auto;
  padding: 20px;
  border-radius: 7px;
  position: relative;
  z-index: -2;
}

.thumb1 {
  height: 120px;
  width: 120px;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  border-radius: 10%;
  background-color: #333;
  color: #e6f2ff;
  margin: 0 261px -90px;
}

.thumb2 {
  height: 100px;
  width: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background-color: #CC66FF;
  color: #CC66FF;
  margin: -50px 1310px;
}

.btn-1 {
  padding: 1px 20px;
  border-radius: 7px;
  background-color: #6600CC;
  color: white;
  border-width: 0;
  border-style: none;
  cursor: pointer;
  display: block;
  margin: auto;
}
.btn-1:hover {
  background-color: #9933ff;
}

.btn-2 {
  padding: 30px;
  border-radius: 50%;
  background-color: #333;
  color: white;
  border-width: 0;
  border-style: none;
  cursor: pointer;
  display: block;
  margin: auto;
  font-size: 2rem;
}
.btn-2:hover {
  background-color: #9933ff;
}
.btn-2:hover {
  background-color: #4d0099;
}

/*# sourceMappingURL=styles.css.map */
