 html{
     font-family:"Times New Roman", serif, sans-serif;
 }
 body{
    /* background-image: url(zebra.jpg); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    background-color: #444;
    text-align: center;
}
h1,h2,h3{
    color: white;
    text-shadow: 3px 2px 5px black;
    line-height: 1rem;
    font-style: italic;
}
h2{
    font-size: 30px;
    font-style: normal;
}
.formatting{
    font-size: 30px;
    line-height: 2em;
    color: white;
}
a{
    text-decoration: none;
    font-size: 20px;
    color: yellow;
    text-transform: uppercase;
}

.borderImg{
    border: 10px dashed red;
}
ul li {
    color: white;
    font-size: 20px;
}
ul > li {
    color: yellow;
}