 body{
    background-image: url(zebra.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: white;
    text-shadow: 3px 2px 5px black;
}
h2{
    color: rgb(0, 204, 255);
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.664);
}
.borderImg{
    border: 10px dashed red;
}