 body{
    /* background-image: url(zebra.jpg); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    background-color: #444;
    text-align: center;
}
h1{
    color: white;
    text-shadow: 3px 2px 5px black;
    line-height: 2rem; 
    font-family: 'Gelasio', serif;  
}
h2{
    color: white;
    text-shadow: 3px 2px 5px black;
    line-height: 2rem; 
    font-family: 'Open Sans Condensed', sans-serif;
}
h3{
    color: white;
    text-shadow: 3px 2px 5px black;
    line-height: 2rem; 
    font-family: 'Dancing Script', cursive;
}

.formatting{
    font-size: 30px;
    line-height: 2em;
    color: white;
}
a{
    text-decoration: none;
    font-size: 20px;
    color: yellow;
    text-transform: uppercase;
}

.borderImg{
    border: 10px dashed red;
}
ul li {
    color: white;
    font-size: 20px;
}
ul > li {
    color: yellow;
}
 