.container{
   background-image: linear-gradient(to left, #00ccff, #b3f0ff);
   box-shadow: 3px 5px 3px black;
}
h1{
    color: white;
    text-shadow: 3px 2px 5px black;
}
h2{
    color: rgb(0, 204, 255);
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.664);
}