 body{
    /* background-image: url(zebra.jpg); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    background-color: #444;
    /* text-align: center; */
}
h1{
    color: white;
    text-shadow: 3px 2px 5px black;
    line-height: 2rem; 
    font-family: 'Gelasio', serif;  
}
h2{
    color: white;
    text-shadow: 3px 2px 5px black;
    line-height: 2rem; 
    font-family: 'Open Sans Condensed', sans-serif;
}
h3{
    color: white;
    text-shadow: 3px 2px 5px black;
    line-height: 2rem; 
    font-family: 'Dancing Script', cursive;
}

.formatting{
    font-size: 30px;
    line-height: 2em;
    color: white;
}
a{
    text-decoration: none;
    font-size: 20px;
    color: yellow;
    text-transform: uppercase;
}
img{
    max-width: 100%;
    height: auto;
    padding: 5px; 
    opacity: 1;
    margin: auto ;
    display: block;
}
.borderImg{
    border-radius: 10px;
    width: 200px;
    height: 200px;
    border: 2px solid #ddd;
    padding: 5px;
}
button{
    color: white;
    background: red;
    border-radius: 12px;
    border: none;
    font-size: 25px;
    padding: 10px 20px;
}
ul li {
    color: white;
    font-size: 20px;
}
ul > li {
    color: yellow;
}
.row{
    display: flex;
    width: 100%;
}
.row::after{
    display: block;
    clear: both;
    content: "";
}
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}
*{
    box-sizing: border-box;
}
[class*="col-"]{
    border: 2px solid red;
    padding: 15px;
    float: left;
}